@import "root.css";

body {
    background: linear-gradient(to bottom, var(--cor-gradient-fundo));
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.titulo{
    color: var(--cor-secundaria);
    font-size: var(--font-size-titulo);
    font-family: var(--font-family-titulo);
    font-weight: var(--font-weight);
    text-align: center;
    letter-spacing: var(--letter-spacing-titulo);
}

.subtitulo{
    color: var(--cor-secundaria);
    font-size: var(--font-size-subtitulo);
    font-family: var(--font-family-subtitulo);
    text-align: center;
}


.container-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 600px;
    align-items: center;
}



.input-container{
    display: flex;
    margin: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-legenda{
    margin: 5px 0;
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
}

.input-nome, .input-categoria {
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
}

.input-nome:focus::placeholder {
    color: transparent;
}



.btn-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 400px;
}

.btn{
    background-color: var(--cor-btn);
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
    font-family: var(--font-family-texto);
    font-size: var(--font-size-texto);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s, border 0.3s;
    margin: 10px 10px;
    border-radius: 3px;
}


.btn:hover{
    color: var(--cor-btn-hover);
    border: 1px solid var(--cor-btn-hover);
    cursor: pointer;
}

.rodape{

    max-width: 100vw;
    height: 100vh;
}

.rodape-texto{
    text-align: center;
    padding: 10px;
    color: var(--cor-secundaria);
}








