@import "root.css";

body {
    background: linear-gradient(to bottom, var(--cor-gradient-fundo));
    width: 100vw;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.titulo{
    color: var(--cor-secundaria);
    font-size: var(--font-size-titulo);
    font-family: var(--font-family-titulo);
    font-weight: var(--font-weight);
    text-align: center;
    letter-spacing: var(--letter-spacing-titulo);
}

.data-jogo{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 10px auto;
}

.data-legenda{
    text-align: center;
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
    color: var(--cor-secundaria);
    padding: 10px;
}

.data-input{
    width: 10%;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
}

.placar-time-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
   
}

.time-section {
    width: 40%;
    margin: 10px;
    background-color:var(--cor-secundaria);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 10px;
}

.nome-time {
    padding: 10px 0;
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
    font-weight:400;
    letter-spacing: 1.5px;
}

.placar-time {
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
}

.jogadores-list-a, .jogadores-list-b {
    text-align: center;
}

.jogador-info-a, .jogador-info-b {
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 3px;
    border: 1px solid black;
}

.jogador-nome{
    padding: 10px;
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
    letter-spacing: 1px;
}
.cartoes-gols-a, .cartoes-gols-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.cartao-amarelo-container, .cartao-vermelho-container, .gols-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    box-sizing: border-box;
}


.cartao-amarelo-legenda,.cartao-vermelho-legenda, .gol-legenda{
     font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
}

.cartao-amarelo-legenda {
    color: yellow; /* cartão amarelo será amarelo */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);    
}

.cartao-vermelho-legenda {
    color: red; /* cartão vermelho será vermelho */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.gol-legenda {
    color: blue; /* gols será azul */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);    
}

.cartao-amarelo, .cartao-vermelho, .gols {
    border: 1px solid black;
    padding: 5px;
    width: 60%;
    text-align: center;
}

.obs {
    display: flex;
    flex-direction: column;
}

.obs-legenda{
   font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
    color: var(--cor-secundaria);
    padding: 10px;
}
.btn-container {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 600px;
}

.btn {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: var(--font-size-texto);
    background: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 30%;
    cursor: pointer;
    padding: 10px;
    
}

.btn:hover {
    background-color: #0056b3;
}

.rodape{

    max-width: 100vw;
    height: 100vh;
}

.rodape-texto{
    text-align: center;
    padding: 10px;
    color: var(--cor-secundaria);
}


@media (max-width: 1280px) {
    .container {
        padding: 10px;
    }
    .time-section {
        width: 45%;
    }
}
